<img style="margin-top: 0px" src=" " align="left" alt="logo esme"  height="20">
<div class="alert alert-block alert-info" style="margin-top: 9px; padding: 10px; background: linear-gradient(to right, #f7f9fa, #d9edfb);">
    <h1 style="margin-left: 85px">IngeSUP - TD 13 - Review session</h1>
</div>

<blockquote><em>‚ÄúOn fait le bilan, calmement se rem√©morant chaque instant. Parler des histoires d'avant, comme si on avait 50 ans‚Äù</em></blockquote>&nbsp;&nbsp;<i style="font-size: 10px">Neg'Marrons</i>

***
## Activity 13.0 - Memories...
***

<div style='color: cadetblue'>
<h4>üí° Reminder: Browse list values with the
 <code>for..range</code> loop.</h4>
</div>

We have seen that in lists each value

1.   List element
2.   List element

is stocked in a row box, also called an index, with a value starting at 0 (for the very first element in the list).

For a given index i belonging to the set of indices in the list named $list$ :
- **_i_** designates the index (the **rank**).
- **list[i]_** designates the **value** stored at this index.

<div style="border-color: rgba(40, 167, 70, 0.294); margin: 1.5625em auto; padding: 0 .6rem .8rem !important; overflow: hidden; page-break-inside: avoid; border-left: .2rem solid rgba(40, 167, 70, 0.294); border-radius: .1rem; box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1); transition: color .25s,background-color .25s,border-color .25s;">
    <p style="background-color: rgba(40,167,70,0.1); position: relative; margin: 0 -.6rem !important; padding: .4rem .6rem .4rem 2rem; font-weight: 700;">üí° Tip</p>
    <p style="padding: 0 1.4rem; margin-top: .4em; margin-bottom: 0; font-size: 1em;">If you need both information at the same time (rank and value), you can also use the <code>for...range</code> loop to browse the list.</p>
</div>

Here are two ways to do it:

In [ ]:
print(my_list)
n = len(my_list)
for i in range(n):
    # the rank (index) : the value
    print(i, ":", my_list[i])

In [ ]:
print(my_list)
n = len(my_list)
for i in range(n-1, -1, -1):
    # the rank (index) : the value
    print(i, ":", my_list[i])

<div style='color: cadetblue'>
<h4>üí° Reminder: Browsing the values of the with the <code>for..in</code> loop.</h4>
</div>

When you want to browse a list (or a string), you may wonder whether it's always useful to access the index of the elements...

If this isn't the case, you can use the for loop to **loop directly on the values** of the list and not on the indices:

```
for element in my_list:
    print(element)
```

Ici _element_ est une variable dont le nom est choisi par la personne qui programme.

In [ ]:
my_list = [1, 10, 100, 250, 500]

for v in my_list:
    print(v)

<div style='color: cadetblue'>
    <h4>üí° Synthesis with <code>for..enumerate</code></h4>
</div>

If we want to iterate (loop) over the values in a list and also know the position of these values in the list, we can use the `enumerate` function:

Here's how it works:

```
for index, value in enumerate(my_list):
    print(index, value)
```

Here, index and value are variables with names chosen by the programmer.

In [ ]:
lab = ["Etienne", "Emilie", "Jean", "Rachid", "Brian"]

for n, member in enumerate(lab):
    print(n, member)

<div style='color: cadetblue'>
<h4>üíØ Your turn</h4></div>

l = [3, 7, 9, "Hello", [1,2]]
for i 

1. Browse the elements of this list, displaying them one by one in the console, using two methods from the course

In [1]:
# your code here

l = [3, 7, 9, "Hello", [1,2]]
for i in l:
    print (i)

for i in range (len(l)):
    print(l[i])

3
7
9
Hello
[1, 2]
3
7
9
Hello
[1, 2]

2. The `eval()` method is a native Python function, which can be used to evaluate/convert the string `"[1,2,3]"` (obtained via an input, for example) into the list [1,2,3].

Using the `eval()` function, create an algorithm that:

  - requests as input the list l to be displayed
  - displays, in a Terminal, each element of the list, using the two list traversal methods.

In [2]:
n= eval(input("choose whatever you want to put in serie "))
print (n)

for i in n:
    print(i)

[1, 2, 4, 5]
1
2
4
5

***
## Exercise 13.1 - Counting the number of elements in a list
***

1. Without using the native function `len()`, and necessarily using a **list run with the for loop**, create a function `length(l)` which:

 - receives a list **l** as input
 - returns the **number of elements** in list **l** as output

In [3]:
# your code here
def length(l):
    count = 0
    for v in l:
        count += 1
    return count 
print(length([1, 2, 3, 4]))

4

***
## Exercise 13.2 - Building a list ony element at a time with `.append()`.
***

The `l.append(el)` syntax is used to add an `el` element to the end of the `l` list (on the right).

1. Create a function `greater_than(el, l)` which :

   - receives a floating-point number *el* as input, and a list *l* as output
   - returns a list of all elements in l with a value greater than (or equal to) el

In [5]:
# your code here

el=[1.2, 3.5, 6.4]
def greater_than(el, l):
    list=[]
    for i in l :
        if i>=el :
            list.append(i)
    return list
print(greater_than(5.2, el))

[6.4]

2. Create a function `lower_than(el, l)` which :

   - receives as input a floating-point number `el`, and a list `l`.
   - returns a list of all elements of `l` with a value less than (or equal to) `el`

In [6]:
# your code here
l = [8,2,3,9,8,5,2]

def lower_than(el, l):
    return [i for i in l if i < el]

print(lower_than(5,l))

[2, 3, 2]

3. Create a function `included_between(a, b, l)` which :

   - receives as input two floating-point numbers *a* and *b*, and a list *l*.
   - returns as output the list of all elements of l with a value between *a* and *b*.

In [8]:
# your code here

l = [8,2,3,9,8,5,2]

def included_between(a, b, l):
    l2=[]
    for v in l:
        if a > b:
            if b < v < a:
                l2.append(v)
        if a < b:
            if a < v <b:
                l2.append(v)
    return l2
print(included_between(2,6,[1,2,3,4,5,6,7]))

[3, 4, 5]

***
## Exercise 13.3 - Inverting a list
***

Given a list $l = [1, 4, 5, 12, 10, 8]$.

1. Create a function reverse(l) which :

    - receives a list *l* as input
    - returns the same list as output, but reversed (in the opposite order): i.e. [8, 10, 12, 5, 4, 1] in our example.

In [8]:
# your code here

l =[1,2,3,4,5,6,7]
def reverse(l):
    list=[]
    
    for i in range(len(l)-1,-1,-1):
        list.append(l[i])
    return list
        
    
print(reverse(l))

[7, 6, 5, 4, 3, 2, 1]

***
## Exercise 13.4 - One in the other
***

1. Write a function `includes_word(word, sentence)` which takes as input two arguments **word** and **sentence**, and returns as output: *True* if the word belongs to the sentence *False* otherwise

> Remember the `.split()` function

In [12]:
def includeswords(word,sentence):
    
    l=sentence.split()
    if word in l:
        return True 
    else:
        return False 
    
print(includeswords("hello","hello world"))

True

***
## Exercise 13.5 - Over 18 and vaccinated?...
***

1. Write a function `is_major(yearBirth, monthBirth, dayBirth)` which takes as input three arguments *yearBirth*, *monthBirth*, *dayBirth* and returns as output: *True* if the person is of age *False* otherwise

In [ ]:
# your code here

***
## Exercise 13.6 - Divisibility
***

1. Write a function `is_div_by(a,b)` that tests the divisibility of the integer *a* by the integer *b*, in other words:

  - if *a* is divisible by *b*, then the function returns *True*.
   - otherwise, it returns *False*.

In [ ]:
# your code here

2. Write a function `divisor(a,b)` which tests whether the integer *a* divides the integer *b*, i.e. *b* is a multiple of *a*, (if you wish, you can use the function from the previous question `is_div_by(a,b)`).

In [ ]:
# your code here

3. Deduce a function `divisors(n)` that accepts as input an integer *n*, and returns as output the list of all integers *p* that are divisors of *n*.

In [ ]:
# your code here

4. Write a function `sigma(n)` which accepts as input an integer n, and returns as output the sum of all divisors of n.

In [ ]:
# your code here

> **Definition**: A *strict divisor* of an integer *n* is a divisor of n that is different from 1 and different from n.

5. Write a function `strict_divisors(n)` which accepts as input an integer argument *n*, and returns as output the list of all **strict divisors** of *n*.

In [ ]:
# your code here

> üìù **Definition**

A number is called prime if it is only divisible by 1 and itself.

Examples: 5 is prime because 5 is divisible by 5 and by 1, and that's all (by no other number).

6 is not prime because **6 = 3 * 2**, which proves that 6 is divisible by 1 and by 6 (itself), but also by 2 and 3.

6. Write a function `is_prime(n)` which takes as input an argument *n*, and returns as output:

    - *True* if *n* is a prime number,
    - *False*, otherwise

In [ ]:
# your code here

7. Derive a second function `primes(x)` which accepts as input an argument *x*, and returns as output the list of all prime numbers less than or equal to *x*.

In [ ]:
# your code here

> üìù **Definition**

An integer <em>n</em> is called a **perfect number** when the sum of all its (positive) divisors equals twice <em>n</em>, in other words, when:

$$
2n = \sigma({n})
$$

> $\sigma(n)$ is the function we programmed in question 4, i.e. the sum of all divisors of *n*.

8. Write a function `perfects(n)` that accepts as input an integer *n*, and returns as output:

   - *True* if n is a perfect number
   - *False* otherwise

In [ ]:
# your code here

9. Write a function `perfect(x)` which accepts as input an integer *x* and returns as output a list of all perfect integers less than or equal to *x*.

In [ ]:
# your code here

***
## Correction of TD 13
You can find the answer key for this TD [here](../Corrig√©s/Corrig√©_TD%2013.ipynb).