<img style="margin-top: 0px" src=" " align="left" alt="logo esme"  height="20">
<div class="alert alert-block alert-info" style="margin-top: 10px; padding: 10px; background: linear-gradient(to right, #f7f9fa, #d9edfb);">
    <h1 style="margin-left: 85px">IngeSUP - Class 14 - Tuples et dictionnaries</h1>
</div>

### Summary

* [Introduction](#Introduction)
* [Reminder about lists](#Reminder-about-lists)
* [Tuples](#Tuples)
    * [Presentation](#Presentation)
    * [Number of elements](#Number-of-elements)
    * [Tuple property](#Tuple-property)
    * [Operations](#Operations)
    * [Membership](#Membership)
* [Dictionaries](#Dictionaries)
    * [Presentation](#Presentation)
    * [Create a dictionary](#Create-a-dictionary)
    * [Accessing dictionary values](#Access-dictionary-values)
    * [Adding/Deleting elements](#Adding/Deleting-elements)
    * [Browse keys, values, elements](#Browse-keys-,-values-,-elements)
    * [Delete elements](#Delete-elements)
* [TD exercises](#Exercises-de-TD)

# Introduction

In the chapter entitled _Lists and strings_ we looked at lists in Python. Lists are used to arrange elements in a given order. These elements may or may not be of the same type, and you can add elements to them, remove elements from them, sort them, and so on.

This is the **data structure** most commonly used in simple algorithms.

A **data structure** is an object in a program that contains a series of data items. A simple data structure might be, for example, a list containing the components of a vector, or a list of names. A more complex data structure would be, for example, a telephone directory containing associations between telephone numbers and names.

In Python, we can identify three commonly used data structures:
- lists
- tuples
- dictionaries

This chapter introduces you to the two latest

> **Reminder on the lists**

A list can be composed of elements of different types, such as `int`, `float`, or `str`. It's also possible to include lists of varying sizes.

If we wanted to list the names and promotions of lab members, we could use a list to model a member whose first element would be the first name and whose second element would be the promotion:

In [1]:
member = ["Jean","Inge1"]
print("prénom :",member[0])
print("promo  :",member[1])

prénom : Jean
promo  : Inge1

> **Tuples**

# Presentation

Python offers a data type called tuple (a computer science anglicism meaning "Table uplet"), which is quite similar to a list but which cannot be modified (it is said to be **_immutable_**).

A tuple is a **non-modifiable sequence of elements**.

A tuple is represented in Python by a sequence of elements separated by commas. Parentheses are generally placed around tuples (for readability), but this is not essential. The following instructions create tuples :

In [ ]:
(1, 9, 5, 3, 7)

In [ ]:
5, 8, 6, 36

In [ ]:
(58, "a", 3.56, "hoho")

As you can see, a tuple can contain elements of different types. It is possible to create an empty tuple :

In [ ]:
empty_tuple = ()

Obviously you can store a tuple in a variable :

In [2]:
tup = ("a","b","c")
print(type(tup))
print(tup)

<class 'tuple'>
('a', 'b', 'c')

It may be advantageous to access the elements of a tuple from the end. To do this, use negative indices: -1 for the last element, -2 for the penultimate... It's just like with lists!

You can also create a tuple with a single element (this can be useful):

`un_tuple_simple = (3,)`

And yes, you must put the comma, otherwise python will think it's the number 3 in brackets...

> 📝 **Note**

And now you finally understand why decimal numbers cause errors when written with commas instead of periods 🤓

# Number of elements

To get the number of elements in a tuple, we always use the `len()` function.

In [3]:
my_tuple = ("a", "g", "toto", "tu")
print(len(my_tuple))

4

## Tuple properties

> 💡 **Access an element within a tuple**

Like lists, a tuple is **indexable** (an element can be accessed by enclosing its index in square brackets):

In [4]:
print(tup[0])
print(tup[-2])

a
b

> 💡 **Tuples are immutable**

Tuples, on the other hand, are not **modifiable**. In Python terminology, we say that the typle type is *immutable*.

In [7]:
my_list = ["one", "two", "three ",2,3,4]
tup = ("one", "two", "three ",2,3,4)
print(tup)
print(my_list)

('one', 'two', 'three ', 2, 3, 4)
['one', 'two', 'three ', 2, 3, 4]

In [6]:
my_list[0] = "uno"
print(my_list)
tup[0] = "uno"   # Forbidden!
print(tup)

['uno', 'two', 'three ', 2, 3, 4]

TypeError: ignored

> 💡 **Browse a tuple**

Like lists, a tuple is **iterable** (it can be traversed with `for..in`):

In [8]:
tup = (1, 9, 5, 3, 7)

for ele in tup:
    print(ele)

1
9
5
3
7

In [9]:
my_tuple = ("mouse", "cat", "dog", "turtle")

for animal in my_tuple:
    print(animal)

mouse
cat
dog
turtle

📝 Note
     
  > The `for..range` and `for..enumerate` loops also work with tuples. They are used in the same way as with lists (except that the tuple cannot be modified).

## Operations

Tuples can be concatenated using the "+" operator. Concatenate means **to put together**.

In [10]:
tuple1 = ("a", "b", "c")
tuple2 = ("d", "e", "f")
print(tuple1 + tuple2)

('a', 'b', 'c', 'd', 'e', 'f')

A tuple can be repeated by multiplying it by an integer.

In [11]:
tuple1 = ("a", "b", "c")
print(tuple1*3)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

## Membership

We test tuple membership with the **in** statement.

In [12]:
a_tuple = ("a", "g", "toto", "tu")
"a" in a_tuple

True

In [13]:
a_tuple = ("a", "g", "toto", "tu")
5 in a_tuple

False

# Dictionnaries

## Presentation

A dictionary in Python is a **collection of unordered elements**. Whereas other types of compound data have only the value as an element, a dictionary has **a `key:value` pair**.

**Each key corresponds to a value**, so we can't have duplicate keys. Dictionaries are *modifiable* objects, which means we can add, delete or update elements after they've been created.

Dictionaries are optimized for retrieving values when the key is known.

📝 Note
     
   > A dictionary in Python works in a similar way to a dictionary in the real world. The keys of a dictionary must be unique and of **immutable** data type, such as *string*, *integer* and *tuple*, but the key values can be repeated and be of any type.

## Create a dictionnary

Creating a dictionary is as simple as placing elements in {} braces, separated by a comma.

💡 **Define an empty dictionary**

In [14]:
# Empty dictionnary
dict1={}
print("dict1 : ",dict1)
print(type(dict1))

dict1 :  {}
<class 'dict'>

💡 **Define a dictionary with string keys**

In [15]:
# Dictionary with string keys
dict2={"Prenom":"Boris", "age":20,"ville":"Moscou"}
print("dict2 : ",dict2)

dict2 :  {'Prenom': 'Boris', 'age': 20, 'ville': 'Moscou'}

💡 **Define a dictionary with integer keys**

In [16]:
# dictionnary with string keys
dict3= {1:"Meknes", 2:"Marrakech", 3:"Essaouira"}
print("dict3 : ",dict3)

dict3 :  {1: 'Meknes', 2: 'Marrakech', 3: 'Essaouira'}

💡 **Define a dictionary with mixed keys**

In [17]:
# dictionnary with mixed keys
dict4={1:"Yoan", "ville":"Oslo", 10.4: 1.78}
print("dict4 : ",dict4)

# Creation of a dictionnary with dict()
dict5 = dict({1: 'Dev', 2: 'Info', 3:'COM'})
print("dict5 : ",dict5)

# Create a dictionary with each element as a pair
dict6 = dict([(1, 'Geeks'), (2, 'For')])
print("dict6 : ",dict6)

dict4 :  {1: 'Yoan', 'ville': 'Oslo', 10.4: 1.78}
dict5 :  {1: 'Dev', 2: 'Info', 3: 'COM'}
dict6 :  {1: 'Geeks', 2: 'For'}

💡 **Other methods with <code>dict()</code>**

In [18]:
# Create a dictionary with the dict () method
dict5 = dict({1: 'Dev', 2: 'Info', 3:'COM'})
print("dict5 : ",dict5)

# Create a dictionary with each key-value pair as a tuple
dict6 = dict([(1, 'Geeks'), (2, 'For')])
print("dict6 : ",dict6)

dict5 :  {1: 'Dev', 2: 'Info', 3: 'COM'}
dict6 :  {1: 'Geeks', 2: 'For'}

## Accessing dictionary values

As previously mentioned, the order of elements in a dictionary can vary. Consequently, we can't use the element index to access the value. Instead, we use a key. To access the dictionary value, we use the following syntax:

```python
nom_dictionnaire[clé]
```

In [19]:
D={1: "Thomas", "city": "Paris", 10.4: 1.78}

print("Key 1 has value : ", D[1])
print("Key city has the value ", D["city"])
print("Key 10.4 has value : ", D[10.4])

Key 1 has value :  Thomas
Key city has the value  Paris
Key 10.4 has value :  1.78

⚠️ Warning
    
   > If the specified key does not exist, a **KeyError** exception will be triggered.

## Adding/Deleting elements

An element is added using the key in square brackets.

In [20]:
dic = {}
dic["nickname"]="fifou"
dic["password"]="1234"
dic["name"]="Philippe"
dic["office"]="203"
dic[2] = "yes"
print(dic)

{'nickname': 'fifou', 'password': '1234', 'name': 'Philippe', 'office': '203', 2: 'yes'}

## Browse keys, values, elements

A dictionary is **iterable** via its key and value, using the `items()` method associated with the dictionary.

In [21]:
for key,value in dic.items():
    print(key,value)

nickname fifou
password 1234
name Philippe
office 203
2 yes

In [22]:
for key,value in dic.items():
    print(dic[key])

fifou
1234
Philippe
203
yes

It is possible to loop on keys only, using the `.keys()` function associated with the dictionary.

In [23]:
for key in dic.keys():
    print(key)

nickname
password
name
office
2

You can loop on values only, using the `.values()` function associated with the dictionary.

In [24]:
for values in dic.values():
    print(values)

fifou
1234
Philippe
203
yes

📝 Note
     
  > The `.items()` function can therefore be used to access both the keys and the values involved in each loop.

## Deleting elements

We can delete a particular element in a dictionary using the `pop()` method. This method deletes the element with the key supplied as parameters and returns the value.

We can also use the **del** keyword to delete individual elements or the entire dictionary itself.

In [25]:
D={1:"Adam", "ville":"Zurich", 10.4: 1.78, "age":32, 3:45, "tt":"test"}
print(D)

print("val : ", D.pop(1))
print("Dictionnary after pop() : ",D)

{1: 'Adam', 'ville': 'Zurich', 10.4: 1.78, 'age': 32, 3: 45, 'tt': 'test'}
val :  Adam
Dictionnary after pop() :  {'ville': 'Zurich', 10.4: 1.78, 'age': 32, 3: 45, 'tt': 'test'}

In [26]:
D={1:"Adam", "ville":"Zurich", 10.4: 1.78, "age":32, 3:45, "tt":"test"}
print(D)

del D["age"]
print("Dictionnary after del() : ", D)

# vider le dictionnaire
D.clear()
print(D)

{1: 'Adam', 'ville': 'Zurich', 10.4: 1.78, 'age': 32, 3: 45, 'tt': 'test'}
Dictionnary after del() :  {1: 'Adam', 'ville': 'Zurich', 10.4: 1.78, 3: 45, 'tt': 'test'}
{}

In [27]:
# vider le dictionnaire
D.clear()
print(D)

{}

📝 Note

 > Until Python version 3.6, a dictionary was displayed in no particular order. The order in which the elements were displayed was not necessarily the same as the order in which they had been filled in. Similarly, when iterating on a dictionary, the order was not guaranteed.

 Since Python 3.7 (inclusive), this behavior has changed: a dictionary is always displayed in the same order as it was filled. Similarly, if you iterate over a dictionary, this order is respected.

After this initial overview, the advantages of dictionaries become immediately apparent. Being able to find items by names (keys) rather than by clues. Humans retain names better than numbers. So using dictionaries generally makes the code more readable.

# TD Exercises

You can now practice using the notebook [TD 14](../TD/TD%2014%20-%20Tuples%20and%20dictionaries.ipynb).