<img style="margin-top: 0px" src=" " align="left" alt="logo esme"  height="20"> 
<div class="alert alert-block alert-info" style="margin-top: 10px; padding: 10px; background: linear-gradient(to right, #f7f9fa, #d9edfb);">
    <h1 style="margin-left: 85px">IngeSUP - Course 15 - Nesting data structures</h1>
</div>

<div style='color: rgb(49, 112, 143)'>
    <h3>Contents</h3>
</div>

* <a href="#Introduction">Introduction</a>
* <a href="#Representation-of-arrays-and-matrices">Representation of arrays and matrices</a>
    * <a href="#Lists-and-dictionaries-as-single-line-tables">Lists and dictionaries as single-line tables</a>
    * <a href="#Multi-line-tables-:-the-two-dimensional-matrix">Multi-line tables : the two-dimensional matrix</a>
    * <a href="#Multi-line-tables-:-case-study">Multi-line tables : case study</a>
* <a href="#Conversions">Conversions</a>
    * <a href="#dict()-function"><code>dict()</code> function</a>
    * <a href="#tuple()-function"><code>tuple()</code>function</a>
    * <a href="#list()-function"><code>list()</code>function</a>
* <a href="#TD-Exercices">TD Exercices</a>

<div class="alert alert-block alert-info" style='color:white; background-color:blue; border-color: blue; '>
    <h2>Introduction</h2>
</div>

We've introduced some basic data structures: lists, tuples and dictionaries. These three structures allow you to store several values simultaneously. Their values are accessed by an index or a key. In the examples given so far, the values were elementary Python values (numbers, strings).

However, it is possible to have **another data structure as the value of an element of a structure** : for example, you can create a list in which all the other elements are other lists.

In [1]:
list_of_lists = [[1,2],[3],[4,5,6,7]]

We can have lists in which each element is a dictionary or tuple. A dictionary can associate a list, a tuple, or another dictionary with certain keys.

In [ ]:
list_of_tuples=[(1,a,'x'),(2,'b','y'),(3,'c','z')]

In [ ]:
list_of_dico = [{'couleur':'grise','immatriculation':'AD-56-RF'}, {'couleur':'blanche','immatriculation':'PL-10-FT'}]

In [ ]:
dico_with_list = {'nom':'medor','date_naissance':[12,12,2012]}

In [ ]:
dico_with_dico = {'nom':'Medor','date_naissance':{'jour':12,'mois':12,'ann√©e':2012}}

<div style="border-color: #007bff; margin: 1.5625em auto; padding: 0 .6rem .8rem !important; overflow: hidden; page-break-inside: avoid;border-left: .2rem solid #007bff; border-radius: .1rem; box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1); transition: color .25s,background-color .25s,border-color .25s;">
    <p style="background-color: #e7f2fa; position: relative; margin: 0 -.6rem !important; padding: .4rem .6rem .4rem 2rem; font-weight: 700;">üìù Note</p>
    <p style="padding: 0 1.4rem; margin-top: .4em; margin-bottom: 0; font-size: 1em;">
     
  You can create structures with more than two levels (lists of lists of lists, lists of dictionaries containing lists, etc.)  _sky is the only limit !_
     
  </p>
</div

<div class="alert alert-block alert-info" style='color:white; background-color:blue; border-color: blue; '>
    <h2>Representation of arrays and matrices</h2>
</div>

In everyday applications, we often need data structures governed by two different criteria, which leads to represent them in the form of tables. For example, we can represent the sales figures for electric cars in France by model and by month in this way:

Model | January | February | March | April | 
 --- | --- | --- | --- | --- |
Renault ZOE | 733 | 1186 | 1370 |  990 |
Nissan Leaf | 173 | 286 | 717 | 491 |
Peugeot iOn | 161 | 109 | 103 | 86 |

Another example is a schedule where the columns represent days and the rows represent hours.

time | monday | tuesday | wednesday | thursday | 
 --- | --- | --- | --- | --- |
9H | math | history | English | math |
10H | math | physics | French | history |
11H | French | English | EPS | Biology |

In mathematics, we use the notion of matrix, which is an array of numbers with at least two dimensions. We'll deal here with the case of a two-dimensional matrix, but the explanations given can be used to represent matrices of dimension 3 or more.

We'll deal with matrices and arrays at the same time, as the representation in Python will be the same. The first thing to note is that Python doesn't have any structures for representing two-dimensional arrays, as many other programming languages do. So we're going to use structures we've already seen: **lists** and **dictionaries**.

<div style='color: forestgreen'>
    <h3>Lists and dictionaries as single-line tables</h3>
</div>

Lists can be interpreted as one-dimensional, i.e. single-line arrays. For example, the list [5,12,21] can be thought of as a single-line array with three columns.

Index | 0 | 1 | 2 | 
 --- | --- | --- | --- |
**element** | 5 | 12 | 21 |

Similarly, the dictionary ```{'intitule':'gomme', 'ref':'go-717-005', 'quantite':7} ``` can be seen as a table with a single row and three columns.

key | title | ref | quantity | 
 :---: | :---: | :---: | :---: |
**value** | 'eraser' | 'go-717-005' | 7 |

To represent a multi-line array, simply represent each line by a list (or dictionary) and group all the arrays in a list (or dictionary).

<div style='color: forestgreen'>
    <h3>Multi-line tables : the two-dimensional matrix</h3>
</div>

Let's start with a two-dimensional matrix.

<table>
    <tr>
        <td>16</td>
        <td>3</td>
        <td>2</td>
        <td>13</td>
    </tr>
    <tr>
        <td>5</td>
        <td>10</td>
        <td>11</td>
        <td>8</td>
    </tr>
    <tr>
        <td>9</td>
        <td>6</td>
        <td>7</td>
        <td>12</td>
    </tr>
</table>

As we've seen, we can represent each line by a list. As there are three lines, there are also three lists: [16,3,2,13], [5,10,11,8] and [9,6,7,12]. 

To obtain the global matrix, we simply put these three lists into a fourth list containing all the elements of the matrix:

$[[16,3,2,13],[5,10,11,8],[9,6,7,12]]$

To access a number in the matrix, first select the appropriate row, then within that row, select the appropriate column. Rows and columns are identified by their index, starting at 0.

In [3]:
mat = [[16,3,2,13],[5,10,11,8],[9,6,7,12]]
print(mat[1])

[5, 10, 11, 8]

In [4]:
line  = mat[0]
print(line)
print(line[2])

[16, 3, 2, 13]
2

In [5]:
print(mat[0][2])

2

<div style='color: forestgreen'>
    <h3>Multi-line tables : case study</h3>
</div>

As with a matrix, we can use lists of lists to represent a table, such as an electric car sales table or a schedule. But this representation isn't necessarily the most practical, as row and column numbers don't make much sense here.

It's more intuitive to use row and column headers to access information. This can be done using a **dictionary of dictionaries**.

In [10]:
sales = {
    'Renault Zoe': {'January':733, 'February':1182, 'March':1370, 'April':990},
    'Nissan Leaf': {'January':173, 'February':286, 'March':717, 'April':491},
    'Peugeot iOn': {'January':161, 'February':109, 'March':103, 'April':86}
}

print(sales['Peugeot iOn']['February'])

109

<div class="alert alert-block alert-info" style='color:white; background-color:blue; border-color: blue; '>
    <h2>Conversions</h2>
</div>

<div style='color: forestgreen'>
    <h3><code>dict()</code> function</h3>
</div>

The native function `dict()` returns a dictionary by creating or transforming another Python object into a dictionary, if possible. This type of native function is called **container**.

<div style='color: cadetblue'>
    <h4>üí° Transforming a list of tuples into a dictionary</h4>
</div>

You can turn a list of tuples into a dictionary by arranging each tuple so that the key is on the left and the value on the right.

In [11]:
dict([('a', 1), ('b', 2), ('c', 3)])  # {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

<div style='color: cadetblue'>
    <h4>üí° Using <code>dict</code> with predefined arguments</h4>
</div>

The predefined arguments you associate with `dict` can also be used as _items_.

In [6]:
dict(a=1, b=2, c=3)  # {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

<div style='color: cadetblue'>
    <h4>üí° Transforming a list of lists into a dictionary</h4>
</div>

In [7]:
dict([['a', 1], ['b', 2], ['c', 3]])

{'a': 1, 'b': 2, 'c': 3}

<div style='color: forestgreen'>
    <h3><code>tuple()</code> function</h3>
</div>

The native function `tuple()` returns a tuple by creating or transforming another Python object into a tuple if possible.

<div style='color: cadetblue'>
    <h4>üí° Transforming a list into a tuple</h4>
</div>

In [8]:
tuple([True, True, True])  # (True, True, True)

(True, True, True)

In [9]:
tuple([])  # ()

()

<div style='color: cadetblue'>
    <h4>üí° Transforming a dictionary into a tuple</h4>
</div>

In [10]:
print(tuple({'a': False, 'b': True, 'c': False}))  # ('a', 'b', 'c')
print(tuple({}))

('a', 'b', 'c')
()

<div style='color: cadetblue'>
    <h4>üí° Transforming a string into a tuple</h4>
</div>

In [ ]:
tuple('123')

<div style='color: forestgreen'>
    <h3><code>list()</code> function</h3>
</div>

<div style='color: cadetblue'>
    <h4>üí° With <code>range</code></h4>
</div>

The `range()` statement is a special function in Python that **generates integers within a range**. When used in combination with the `list()` function, we obtain a list of integers. For example :

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [14]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<div style='color: cadetblue'>
    <h4>üí° Transforming a tuple into a list</h4>
</div>

In [15]:
list((False, True, True))

[False, True, True]

<div style='color: cadetblue'>
    <h4>üí° Transforming a dictionary into a list</h4>
</div>

In [17]:
list({'a': False, 'b': False, 'c': False})

['a', 'b', 'c']

In [18]:
d = {}
d["password"]="1234"
d["name"]="Philippe"
list(d.keys())  # Retrieve keys within a list

['password', 'name']

In [19]:
list(d.values())    # Retrieve values within a list

['1234', 'Philippe']

<div style='color: cadetblue'>
    <h4>üí° Transforming a string into a list</h4>
</div>

In [20]:
list('123')  # ['1', '2', '3']

['1', '2', '3']

<div class="alert alert-block alert-info" style='color:white; background-color:blue; border-color: blue; '>
    <h2>TD Exercices</h2>
</div>

You can now practice from your notebook [TD 15](../TD/TD%2015%20-%20Structures%20de%20donn%C3%A9es%20embo%C3%AEt%C3%A9es.ipynb).